.background {
  background-image: url("/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.details-banner {
  background-image: url("/images/test-details.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  background: rgba(248, 246, 246, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-test-banner {
  background-image: url("/images/test-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
