.background {
  background-image: url("/images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.details-banner {
  background-image: url("/images/test-details.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  background: rgba(248, 246, 246, 0.5);

  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
